yolov4/
test_box/
keras-yolo3/
old_YOLOV3/
misc_tools/*.pdf
misc_tools/*.png
misc_tools/*.txt
misc_tools/*.csv
misc_tools/*.npz
misc_tools/*.fits
invariant_NN/__pycache__/
invariant_NN/*.npz
invariant_NN/*.h5
invariant_NN/*.txt
invariant_NN/checkpoint
invariant_NN/inn_memship_calc_nn.py
invariant_NN/saved_models/
invariant_NN/saved_modelsBKP/
invariant_NN/*.data*
invariant_NN/*.index
invariant_NN/trash/
YOLOV3/*.png
YOLOV3/runs/
YOLOV3/*.sh
classic_CNN/saved_models/
classic_NN/*.png
classic_NN/*.pdf
classic_NN/*.h5
classic_NN/*.log
**/*.pyc

